/aclocal.m4
/autom4te.cache/
/config/
/config.status
/config.log
/configure
.deps/
.dirstamp
*~
\#*\#
Makefile
Makefile.in
!src/transform/Makefile
!src/array/Makefile
!src/prompt/Makefile
*.[oa]
*.so*
*.tar*
