/aclocal.m4
/autom4te.cache/
/config/
/config.status
/config.log
/configure
/libtool
.libs/
.deps/
.dirstamp
/m4/
*~
\#*\#
config.h
config.h.in
Makefile
Makefile.in
!src/transform/Makefile
!src/array/Makefile
!src/prompt/Makefile
/stamp-*
*.[oa]
*.lo
*.la
*.so*
*.tar*
